:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--very-light-gray);

}

h1 {
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 0.93rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--very-dark-blue);

}


.main-content {
    width: 56.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 6rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    max-width: 28rem;
    font-weight: 100;
    font-size: 2rem;
    color: var(--very-dark-blue);
    margin-bottom: 1rem;
}

.title p {
    max-width: 37.5rem;
    text-align: center;
    font-size: 0.93rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.cards {
    width: 62.5rem;
    box-sizing: border-box;
    margin: 2.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.5rem;

}



.card-side {
    display: flex;
    align-items: center;
}

.card-center {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.card {
    max-width: 18.75rem;
    order: 1;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.93rem;
    background-color: white;
}

.card-supervisor {
    border-top: 5px solid var(--cyan);
    box-shadow: 0.3rem 0.3rem 0.9rem rgb(212, 211, 211);
}

.card-team {
    border-top: 0.25rem solid var(--red);
    box-shadow: -0.3rem 0.3rem 0.9rem rgb(212, 211, 211), 0.3rem 0.3rem 0.9rem rgb(212, 211, 211);
}

.card-karma {
    border-top: 0.25rem solid var(--orange);
    box-shadow: -0.3rem 0.3rem 0.9rem rgb(212, 211, 211), 0.3rem 0.3rem 0.9rem rgb(212, 211, 211);
}

.card-calculator {
    border-top: 0.25rem solid var(--blue);
    box-shadow: -0.3rem 0.3rem 0.9rem rgb(212, 211, 211);
}

.image {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.5rem;
}



@media only screen and (max-width: 375px) {
    .title h1 {
        font-size: 1.5rem;
        max-width: 20rem;
        padding: 0 4.5rem;
    }

    .title p {
        max-width: 20rem;
        padding: 2.5rem 4.5rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .card {
        margin: 1.5rem 0;
        box-shadow: 0 0.3rem 0.9rem rgb(212, 211, 211);
    }

    .card-center {
        row-gap: 0;
    }
}